<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/cartas.css">
    <title>Cartas</title>
</head>
<body>
    <a href="/escolher-cartas" class="volta">Voltar</a>
    <div class="carrossel-container">
        <button class="carrossel-btn prev">&#10094;</button>
       
        <div class="carrossel">
            <!-- CIPÓ SELVAGEM -->
            <div class="carta-container">
                <div class="card">
                    <div class="header">
                        <div class="title">CIPÓ SELVAGEM</div>
                        <div class="ps">PS 900</div>
                    </div>
                    <div class="img"><img src="/static/assets/cipoo.png" alt="Cipó Selvagem"></div>
                    <div class="abilities">
                        <div class="texto-carta">
                        <p><span class="ability-title">Chicote Espinhoso - </span><br>
                        Usa seus cipós para golpear o inimigo com força e lançar espinhos afiados. (Dano: 45 por chicotada, até 2 golpes seguidos)</p>
                        <p><span class="ability-title">Prisão Vegetal -</span><br>
                        Prende o oponente com vinhas. (30 de dano + 3s imobilização)</p>
                    </div>
                </div>
            </div>
        </div>
           
            <!-- XLR8 -->
            <div class="carta-container">
                <div class="card_xlr8">
                    <div class="header">
                        <div class="title_xlr8">XLR8</div>
                        <div class="ps_xlr8">PS 700</div>
                    </div>
                    <div class="img_xlr8"><img src="../static/assets/XLR8.png" alt="XLR8"></div>
                    <div class="abilities_xlr8">
                        <div class="texto-carta">
                        <p><span class="ability-title_xlr8">Golpe Relâmpago - </span><br>
                            Corre em alta velocidade e acerta múltiplos socos em segundos. (Dano: 30 por acerto, até 3 acertos)</p>
 
                        <p><span class="ability-title_xlr8">Turbilhão supersônico -</span><br>
                            Cria tornado que arremessa inimigos. (60 de dano em área)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Alien X -->
            <div class="carta-container">
                <div class="card_alienX">
                    <div class="header">
                        <div class="title_AlienX">Alien X</div>
                        <div class="ps_AlienX">PS 1800</div>
                    </div>
                    <div class="img_AlienX"><img src="../static/assets/Alien_X.png" alt="Alien X"></div>
                    <div class="abilities_AlienX">
                        <div class="texto-carta">
                        <p><span class="ability-title_AlienX">Onda de Realidade - </span><br>
                            Emite um pulso de energia que desintegra ataques e inimigos. (Dano: 150 área)</p>
 
                        <p><span class="ability-title_AlienX">Controle total-</span><br>
                            Paralisa o tempo por alguns segundos e acerta um golpe massivo. (Dano: 200 único alvo)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Aquatico -->
            <div class="carta-container">
                <div class="card_Aquatico">
                    <div class="header">
                        <div class="title_Aquatico">Aquático</div>
                        <div class="ps_Aquatico">PS 900</div>
                    </div>
                    <div class="img_Aquatico"><img src="/static/assets/Aquatico.png" alt="Aquático"></div>
                    <div class="abilities_Aquatico">
                        <div class="texto-carta">
                        <p><span class="ability-title-Aquatico">Jato Pressurizado - </span><br>
                            Lança um forte feixe de água que pode empurrar inimigos. (Dano: 40 por segundo, até 3 segundos)</p>
 
                        <p><span class="ability-title-Aquatico">Onda Gigante - </span><br>
                            Cria uma onda de água que derruba vários inimigos. (Dano: 90 área)</p>
                    </div>
                </div>
            </div>
        </div>  
            <!-- Fantasmatico -->
            <div class="carta-container">
                <div class="card_Fantasmatico">
                    <div class="header">
                        <div class="title_Fantasmatico">Fantasmatico</div>
                        <div class="ps_Fantasmatico">PS 750</div>
                    </div>
                    <div class="img_Fantasmatico"><img src="../static/assets/Fantasmatico.png" alt="Fantasmatico"></div>
                    <div class="abilities_Fantasmatico">
                        <div class="texto-carta">
                        <p><span class="ability-title-Fantasmatico">Toque Assombrado - </span><br>
                            Passa através do inimigo, drenando sua energia. (Dano: 35 e rouba 20 HP)</p>
       
                        <p><span class="ability-title-Fantasmatico">Grito Fantasmagórico -</span><br>
                            Solta um berro assustador que paralisa inimigos. (Dano: 60 e atordoa 2s)</p>
                    </div>
                </div>
            </div>
         </div>
            <!-- Gosma -->
            <div class="carta-container">
                <div class="card_Gosma">
                    <div class="header">
                        <div class="title_Gosma">Gosma</div>
                        <div class="ps_Gosma">PS 850</div>
                    </div>
                    <div class="img_Gosma"><img src="../static/assets/Gosma.png" alt="Gosma"></div>
                    <div class="abilities_Gosma">
                        <div class="texto-carta">
                        <p><span class="ability-title-Gosma">Soco pegajoso-</span><br>
                            Lança um projétil viscoso que prende inimigos. (Dano: 20 + imobilização de 3s)</p>
 
                        <p><span class="ability-title-Gosma">Divisão Tóxica -</span><br>
                            Se divide em pequenas partes que explodem ao contato. (Dano: 70 por explosão, 3 explosões possíveis)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Quatro Bracos -->
            <div class="carta-container">
                <div class="card_Qbracos">
                    <div class="header">
                        <div class="title_Qbracos">Quatro Braços</div>
                        <div class="ps_Qbracos">PS 1200</div>
                    </div>
                    <div class="img_Qbracos"><img src="/static/assets/quatrobraços.png" alt="Quatro Braços"></div>
                    <div class="abilities_Qbracos">
                        <div class="texto-carta">
                        <p><span class="ability-title-Qbracos">Soco Sísmico -</span><br>
                            Dá um soco no chão, criando rachaduras. (Dano: 100 área)</p>
 
                        <p><span class="ability-title-Qbracos">Soco Brutal -</span><br>
                            Usa uma sequencia de golpes com seus 4 braços. (Dano: 90 impacto direto)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Cromático -->
            <div class="carta-container">
                <div class="card_Cromatico">
                    <div class="header">
                        <div class="title_Cromatico">Cromático</div>
                        <div class="ps_Cromatico">PS 850</div>
                    </div>
                    <div class="img_Cromatico"><img src="/static/assets/Cromatico.png" alt="Cromático"></div>
                    <div class="abilities_Cromatico">
                        <div class="texto-carta">
                        <p><span class="ability-title-Cromatico">Rajada Prismática -</span><br>
                            Dispara um feixe de luz multicolorido que queima e cega os inimigos. (Dano: 60 e cega por 2s)</p>
 
                        <p><span class="ability-title-Cromatico">Explosão de Cores -</span><br>
                            Gera uma onda de energia cromática que empurra todos ao redor. (Dano: 80 área)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Massa Cinzenta -->
            <div class="carta-container">
                <div class="card_Massa">
                    <div class="header">
                        <div class="title_Massa">Massa Cinzenta</div>
                        <div class="ps_Massa">PS 500</div>
                    </div>
                    <div class="img_Massa"><img src="../static/assets/Massa Cinzenta.png" alt="Massa Cinzenta"></div>
                    <div class="abilities_Massa">
                        <div class="texto-carta">
                        <p><span class="ability-title-Massa">Hack de Emergência -</span><br>
                            Assume o controle dos inimigos. (Dano: hakeia uma carta do inimigo e tira ela de jogo)</p>
 
                        <p><span class="ability-title-Massa">Explosão Improvisada -</span><br>
                            Cria bombas com objetos. (50 de dano, até 2)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Ultra-T -->
            <div class="carta-container">
                <div class="card_Ultra-T">
                    <div class="header">
                        <div class="title_Ultra-T">Ultra T</div>
                        <div class="ps_Ultra-T">PS 1000</div>
                    </div>
                    <div class="img_Ultra-T"><img src="../static/assets/Ultra T.png" alt="Ultra T"></div>
                    <div class="abilities_Ultra-T">
                        <div class="texto-carta">
                        <p><span class="ability-title-Ultra-T">Canhão de Plasma -</span><br>
                            Dispara uma poderosa rajada de energia. (Dano: 80 por tiro carregado)</p>
 
                        <p><span class="ability-title-Ultra-T">Modo Torreta -</span><br>
                            Ativa múltiplas armas para disparos rápidos. (Dano: 30 por tiro, até 4 tiros seguidos)</p>
                    </div>
                </div>
            </div>
        </div>  
            <!-- ECO ECO -->
            <div class="carta-container">
                <div class="card_Eco">
                    <div class="header">
                        <div class="title_Eco">Éco Éco</div>
                        <div class="ps_Eco">PS 700</div>
                    </div>
                    <div class="img_Eco"><img src="/static/assets/eco_eco.png" alt="Éco Éco"></div>
                    <div class="abilities_Eco">
                        <div class="texto-carta">
                        <p><span class="ability-title-Eco">Grito Supersónico -</span><br>
                            Emite um som de alta frequência que causa dano. (Dano: 45 em área)</p>
 
                        <p><span class="ability-title-Eco">Duplicação Massiva - </span><br>
                            Cria cópias que atacam simultaneamente. (Dano: 20 por cópia, até 5 cópias atacando)</p>
                    </div>
                </div>
            </div>
        </div>  
            <!-- Choque Squad -->
            <div class="carta-container">
                <div class="card_Choque">
                    <div class="header">
                        <div class="title_Choque">Choque Squad</div>
                        <div class="ps_Choque">PS 900</div>
                    </div>
                    <div class="img_Choque"><img src="../static/assets/Choque Squad.png" alt="Choque Squad"></div>
                    <div class="abilities_Choque">
                        <div class="texto-carta">
                        <p><span class="ability-title-Choque">Eletroimpacto -</span><br>
                            Dispara um raio elétrico contínuo. (Dano: 40 por segundo, até 3s)</p>
 
                        <p><span class="ability-title-Choque">Pulso eletromagnético -</span><br>
                            Cria uma onda que desativa tecnologia e atordoa inimigos. (Dano: 70 e paralisa 2s)</p>
                    </div>
                </div>
            </div>
        </div>    
            <!-- Fogo Fato -->
            <div class="carta-container">
                <div class="card_Fogo">
                    <div class="header">
                        <div class="title_Fogo">Fogo Fato</div>
                        <div class="ps_Fogo">PS 1000</div>
                    </div>
                    <div class="img_Fogo"><img src="../static/assets/Fogo Fato.png" alt="Fogo Fato"></div>
                    <div class="abilities_Fogo">
                        <div class="texto-carta">
                        <p><span class="ability-title-Fogo">Chamas Assombradas -</span><br>
                            Dispara bolas fogo que atravessa barreiras. (Dano: 60 por segundo, até 3s)
                        </p>
           
                        <p><span class="ability-title-Fogo">Tempestade Elétrica -</span><br>
                            Cria uma armadinha de planta onde joga chamas no inimigo. (Dano: 120 área)</p>
                    </div>
                </div>
            </div>
         </div>  
            <!-- Feedback -->
            <div class="carta-container">
                <div class="card_Feedback">
                    <div class="header">
                        <div class="title_Feedback">Feedback</div>
                        <div class="ps_Feedback">PS 1200</div>
                    </div>
                    <div class="img_Feedback"><img src="../static/assets/Feedback.png" alt="Feedback"></div>
                    <div class="abilities_Feedback">
                        <div class="texto-carta">
                            <p><span class="ability-title-Feedback">Repulsão Elétrica -</span><br>
                                Descarga elétrica que desacelera e reduz dano. (150 de dano + debuff por 1 rodada)</p>
                               
                                <p><span class="ability-title-Feedback">Tempestade Elétrica -</span><br>
                                Tempestade de raios em área. (100 de dano + atraso reações)</p>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>
    <button class="carrossel-btn next">&#10095;</button>
    <script src="../static/scripts/cartas.js"></script>
</body>
</html>